.message {
    position: absolute;
    width: 462px;
    height: 77px;
    left: 70px;
    top: 299px;
}

.imageAndText {

}

.imageAndText img {

}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}