.friendMessage {
    position: absolute;
    width: 575px;
    height: 77px;
    left: 635px;
    top: 192px;

}

.friendImageAndText {

}

.friendImageAndText img {

}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
